include _strokeState.pug

mixin Strokes(_titleName, _num, _titleNum)
    .garage
        h2= _titleName
        input(class="title stroke-title stroke-title"+ _titleNum,
            data-stroke="stroke-title" +  _titleNum,
            name="stroke-title" +  _titleNum,
            value="stroke-title" +  _titleNum
            autocomplete="off"
            data-i= _num,
        )

        .garage-strokes
            //- Loop State
            + StrokeState("Key", _num, "A")
            + StrokeState("Issue", parseInt(_num + 1) , "B")
            + StrokeState("Action", parseInt(_num + 2), "C")
            + StrokeState("Publish", parseInt(_num + 3), "D")

//- .run_bottom
//-     p#message2(style="display: none") AutoSave..
