include structure/_layout.pug
//- https://html2pug.vercel.app/
.run
  #message(style="display: none") Save..

header.header
  h1 4
  .logo-s Stroke
  span#message(style="display: none") Save

    //- span: a(href="#MissionB"): span MissionB

.container
  h2 - A -
  input#kioku-title1.title.event(
    data-kioku="kioku-title1",
    name="kioku-title1",
    data-i="13",
    value="kioku-title1"
    autocomplete="off"
  )

  .org_text
    .mol_text
      h3 Key
      textarea#kioku1.kioku1.event(data-kioku="A", name="kioku1", data-i="1")
      div.clear-area
        input#clear1.clear(data-clear="clearA", type="button", value="Delete Key")
    .mol_text
      h3 Issue
      textarea#kioku2.kioku2.event(data-kioku="B", name="kioku2", data-i="2")
      div.clear-area
        input#clear2.clear(
          data-clear="clearB",
          type="button",
          value="Delete Issue"
        )
    .mol_text
      h3 Action
      textarea#kioku3.kioku3.event(data-kioku="C", name="kioku3", data-i="3")
      div.clear-area
        input#clear3.clear(
          data-clear="clearC",
          type="button",
          value="Delete Action"
        )
    .mol_text
      h3 Publish
      textarea#kioku4.kioku4.event(data-kioku="D", name="kioku4", data-i="4")
      div.clear-area
        input#clear4.clear(
          data-clear="clearD",
          type="button",
          value="Delete Publish"
        )
    .run_bottom
      p#message2(style="display: none") AutoSave..

//- ２
.container
  h2 - B -
  input#kioku-title2.title.event(
    data-kioku="kioku-title2",
    name="kioku-title2",
    data-i="14",
    value="kioku-title2"
    autocomplete="off"
  )

  .org_text
    .mol_text
      h3 Key
      textarea#kioku5.kioku5.event(data-kioku="B-A", name="kioku5", data-i="5")
      div.clear-area
        input#clear5.clear(data-clear="clearA", type="button", value="Delete Key")
    .mol_text
      h3 Issue
      textarea#kioku6.kioku6.event(data-kioku="B-B", name="kioku6", data-i="6")
      div.clear-area
        input#clear6.clear(
          data-clear="clearB",
          type="button",
          value="Delete Issue"
        )
    .mol_text
      h3 Action
      textarea#kioku7.kioku7.event(data-kioku="B-C", name="kioku7", data-i="7")
      div.clear-area
        input#clear7.clear(
          data-clear="clearC",
          type="button",
          value="Delete Action"
        )
    .mol_text
      h3 Publish
      textarea#kioku8.kioku8.event(data-kioku="B-D", name="kioku8", data-i="8")
      div.clear-area
        input#clear8.clear(
          data-clear="clearD",
          type="button",
          value="Delete Publish"
        )
    #MissionB
    .run_bottom
      p#message2(style="display: none") AutoSave..

//- 3
.container
  h2 - C -
  input#kioku-title3.title.event(
    data-kioku="kioku-title3",
    name="kioku-title3",
    data-i="15",
    value="kioku-title3"
    autocomplete="off"
  )

  .org_text
    .mol_text
      h3 Key
      textarea#kioku9.kioku9.event(data-kioku="C-A", name="kioku9", data-i="9")
      div.clear-area
        input#clear9.clear(data-clear="clearA", type="button", value="Delete Key")
    .mol_text
      h3 Issue
      textarea#kioku10.kioku10.event(
        data-kioku="C-B",
        name="kioku10",
        data-i="10"
      )
      div.clear-area
        input#clear10.clear(
          data-clear="clearB",
          type="button",
          value="Delete Issue"
        )
    .mol_text
      h3 Action
      textarea#kioku11.kioku11.event(
        data-kioku="C-C",
        name="kioku11",
        data-i="11"
      )
      div.clear-area
        input#clear11.clear(
          data-clear="clearC",
          type="button",
          value="Delete Action"
        )
    .mol_text
      h3 Publish
      textarea#kioku12.kioku12.event(
        data-kioku="C-D",
        name="kioku12",
        data-i="12"
      )
      div.clear-area
        input#clear12.clear(
          data-clear="clearD",
          type="button",
          value="Delete Publish"
        )
    //- .run_bottom
    //-  p#message2(style="display: none") AutoSave..
